@model  IEnumerable<FileUploadAttempts.Models.Image>

@{
    ViewBag.Title = "FileUpload";
}

@using (Html.BeginForm("FileUpload", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<h2>FileUpload</h2>
<p><input type="file" name="File" id="File" /> </p>
  <p><input type="submit" value="Upload file" /></p>@* 
    

        @foreach (var rec in ViewData.Model)
        {
         
                @Html.DisplayFor(model => model.fileName)
   
        }

}*@
}