@{
    ViewBag.Title = "About Cloud Marker";
}

<div class="about">
    <h2>@ViewBag.Title</h2>

    <p>
        Cloud Marker is a project by students Danielle Stirling and Stacey Masson of Humber College's Web Development Program.
    </p>
</div>


