@{
    ViewBag.Title = "Feedback";
}

<div class="feedback">

    <h2>@ViewBag.Title</h2>

    <p>Know of a way we could improve? Find a bug? Think we're totally awesome? We want to know!</p>
    <p>Drop us a line using the form below, or contact us directly at: <a href="mailto:fluffyunicorns@cloudmarker.ca">fluffyunicorns@cloudmarker.ca</a></p>
    <br />
    
    <form id="feedback">
        <label for="name">Name:
            <input type="text" id="name" />
        </label><br />
        <label for="email">Email:
            <input type="email" id="email" />
        </label><br />
        <label for="message">Message:
            <textarea id="message" rows="8" cols="30"></textarea>
        </label><br />
        <input type="submit" value="Submit" class="button" />
    </form>







    Testing...   
    @* Link to anchor tags in help page *@
        <ul class="bxslider">
            <li><a href="#" target="_blank"><img src="~/Images/help1.png" /></a></li>
            <li><a href="#" target="_blank"><img src="~/Images/help2.png" /></a></li>
            <li><a href="#" target="_blank"><img src="~/Images/help3.png" /></a></li>
        </ul>

    <script>

        $(document).ready(function () {
            $('.bxslider').bxSlider({
                auto: true
            });
        });

    </script>


    
</div>