@{
    ViewBag.Title = "Feedback";
}

<div class="feedback">

    <h2>@ViewBag.Title</h2>

    <p>Know of a way we could improve? Find a bug? Think we're totally awesome? We want to know!</p>
    <p>Drop us a line using the form below, or contact us directly at: <a href="mailto:fluffyunicorns@cloudmarker.ca">fluffyunicorns@cloudmarker.ca</a></p>
    <br />
    
    <form id="feedback">
        <label for="name">Name:
            <input type="text" id="name" />
        </label><br />
        <label for="email">Email:
            <input type="email" id="email" />
        </label><br />
        <label for="message">Message:
            <textarea id="message" rows="8" cols="30"></textarea>
        </label><br />
        <input type="submit" value="Submit" class="button" />
    </form>
</div>