@{
    ViewBag.Title = "Feedback";
}

<div class="feedback">

    <h2>@ViewBag.Title</h2>

    <p>Fill out our feedback form below and let us know how we can improve Cloud Marker, or contact us directly at <a href="mailto:fluffyunicorns@cloudmarker.ca">fluffyunicorns@cloudmarker.ca</a></p>
    <br />
    
    <form id="feedback">
   
    </form>
       
        <ul class="bxslider">
            <li><a href="http://www.google.com" target="_blank"><img src="~/Images/cat1.jpg" title="Burrito cat" /></a></li>
            <li><a href="http://twitter.com" target="_blank"><img src="~/Images/cat2.jpg" title="Fuck you, cat" /></a></li>
            <li><a href="http://wikipedia.com" target="_blank"><img src="~/Images/cat3.jpg" title="Grape loving cat" /></a></li>
            <li><a href="http://yahoo.com" target="_blank"><img src="~/Images/cat4.gif" title="Do you know the marvellous bread cat?" /></a></li>
        </ul>

    <script>

        $(document).ready(function () {
            $('.bxslider').bxSlider({
                auto: true,
                autoControls: true,
                captions: true,
                mode: 'horizontal',
                useCSS: false,
                infiniteLoop: true,
                easing: 'easeOutElastic',
                speed: 1500,
                adaptiveHeight: true
            });
        });

    </script>


    
</div>