@{
    ViewBag.Title = "Help";
}
<div class="help">
    <h2>Help</h2>
    
    <h3>Popular Help Topics</h3>
    @* Link to anchor tags in help page *@
        <ul class="bxslider">
            <li><a href="#title4"><img src="~/Images/help1.png" /></a></li>
            <li><a href="#title2"><img src="~/Images/help2.png" /></a></li>
            <li><a href="#title7"><img src="~/Images/help3.png" /></a></li>
        </ul>

    <script>
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                auto: true
            });

            $('.info').hide();
            $('.title').on('click', function () {
                var infoID = $(this).attr('data-infoID');
                $('#' + infoID).slideToggle();
            });

        });
    </script>

    <h3>Help Topics</h3>
    <p id="instr">Click a topic below to view more information.</p>

    <a id="title1"><h4 class="title" data-infoID="info1">Adding Bookmarks</h4></a>
    <p class="info" id="info1">I hope I didn't brain my damage. Marge, just about everything's a sin. Y'ever sat down and read this thing? Technically we're not supposed to go to the bathroom. Uh, no, they're saying "Boo-urns, Boo-urns."</p>

    <a id="title2"><h4 class="title" data-infoID="info2">Importing Bookmarks</h4></a>
    <p class="info" id="info2">Dad didn't leave… When he comes back from the store, he's going to wave those pop-tarts right in your face! Oh, so they have Internet on computers now! I prefer a vehicle that doesn't hurt Mother Earth. It's a go-cart, powered by my own sense of self-satisfaction.</p>

    <a id="title3"><h4 class="title" data-infoID="info3">Editing Bookmarks</h4></a>
    <p class="info" id="info3">Marge, just about everything's a sin. Y'ever sat down and read this thing? Technically we're not supposed to go to the bathroom. I'm normally not a praying man, but if you're up there, please save me, Superman. Fame was like a drug. But what was even more like a drug were the drugs. Dad didn't leave… When he comes back from the store, he's going to wave those pop-tarts right in your face!</p>

    <a id="title4"><h4 class="title" data-infoID="info4">Categorizing Bookmarks</h4></a>
    <p class="info" id="info4">Marge, it takes two to lie. One to lie and one to listen. What's the point of going out? We're just going to wind up back here anyway. Kids, kids. I'm not going to die. That only happens to bad people. Oh, loneliness and cheeseburgers are a dangerous mix.</p>

    <a id="title5"><h4 class="title" data-infoID="info5">Creating an Account</h4></a>
    <p class="info" id="info5">Please do not offer my god a peanut. I'll keep it short and sweet — Family. Religion. Friendship. These are the three demons you must slay if you wish to succeed in business. They only come out in the night. Or in this case, the day.</p>

    <a id="title6"><h4 class="title" data-infoID="info6">Deleting an Account</h4></a>
    <p class="info" id="info6">Aaah! Natural light! Get it off me! Get it off me! I hope I didn't brain my damage. I'm normally not a praying man, but if you're up there, please save me, Superman. Oh, a *sarcasm* detector. Oh, that's a *really* useful invention! Attempted murder? Now honestly, what is that? Do they give a Nobel Prize for attempted chemistry? I hope I didn't brain my damage.</p>

    <a id="title7"><h4 class="title" data-infoID="info7">Viewing Statistics</h4></a>
    <p class="info" id="info7">Oh, so they have Internet on computers now! When I held that gun in my hand, I felt a surge of power…like God must feel when he's holding a gun. I hope I didn't brain my damage. What's the point of going out? We're just going to wind up back here anyway.</p>
</div>