@{
    ViewBag.Title = "Hooray, you're here!";
}          
   
<div class="home">
    <h1>@ViewBag.Title</h1>
    <br />
    <h4>Welcome to Cloud Marker, your new best friend.  On Cloud Marker, you can upload your bookmarks from your favourite browser so you can access them in a snap from any device, anywhere, anytime!  Once your bookmarks are uploaded to your account, you can blah blah blah blah blah blah blah.</h4>
    <br />
    <h3>It's that simple!</h3>
    <br />
    <br />
    <a class="register" href="#">Sign Up Now!</a>
    <br />
    <a class="login" href="#">Login</a>

</div>