@model  FileUploadAttempts.Models.Image  

 @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table> 
    <tr>

<td>File :</td>    
    <td><input type="file" name="File" id="File" /> </td>
  </tr>
  <tr> 
  <td><input type="submit" name="submit" value="upload" /></td>
  </tr>

        </table>

    ViewBag.Title = "Create Page";


<h2>Index</h2>
 }